@import "tailwindcss";

@theme inline {
  --color-primary: #06f9d0;
  --color-background-light: #eef6f6;
  --color-background-dark: #0f231f;
  --color-nordic-dark: #19322f;
  --color-nordic-muted: #5c706d;
  --color-mosque: #006655;
  --font-display: "Inter", sans-serif;
  --font-sans: "SF Pro Display", "Inter", sans-serif;
  --shadow-soft: 0 10px 40px -10px rgba(0, 0, 0, 0.05);
  --shadow-card:
    0 4px 6px -1px rgba(0, 0, 0, 0.02), 0 2px 4px -1px rgba(0, 0, 0, 0.02);
}

@layer utilities {
  .hide-scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .hide-scroll::-webkit-scrollbar {
    display: none;
  }
}

body {
  font-family: var(--font-sans);
}
